extends layout

block content
  h1 Meteo Briefing Box
  h2 #{LOCATION}
  hr
  h1 IVA BR IVANA
  h2 Rooms
  p
    table.table.table-hover.table-bordered
       thead
         tr
           th Meeting Id
           th Meeting name
           th Action
       each room, i in rooms
         tr
           td #{room.meetingID}
           td #{room.name}
           td(style='width:1%; white-space:nowrap;')
             a.btn.btn-primary(href='/roomc/#{room._id}' style='padding: 2px; margin-right:5px; border-radius:4px;')
               i.fa.fa-pencil EDIT
             a.btn.btn-success(href='/admin/create/#{room._id}' style='padding: 2px; margin-right:5px; border-radius:4px;')
               i.fa.fa-plus CREATE
             a.btn.btn-warning(href='/admin/join/#{room._id}' style='padding: 2px; margin-right:5px; border-radius:4px;')
               i.fa.fa-check JOIN
             a.btn.btn-danger(href='/roomc/delete/#{room._id}' style='padding: 2px; border-radius:4px;')
               i.fa.fa-trash DELETE
             
  .form-group
      a.button.btn.btn-primary(href='/roomc')
        i.fa.fa-plus
        | Add Meetting
  h2 Accounts
  p
    table.table.table-hover.table-bordered
       thead
         tr
           th Username
           th Name
           th Type
           th RoomID binded to
           th Action
       each user, i in users  
         tr
           td #{user.username}
           td #{user.profile.name}
           td #{user.profile.tip}
           td #{roomhash[user.profile.roomID]}
           td(style='width:1%; white-space:nowrap;')
             a.btn.btn-primary(href='/account/#{user._id}' style='padding: 2px; border-radius:4px;')
               i.fa.fa-pencil EDIT
  .form-group
      a.button.btn.btn-primary(href='/signup')
        i.fa.fa-plus
        | Add User


